<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_nscourses_domain_model_students.name" />
</label><br />
	<f:form.textfield property="name" id="name" /><br />
<label for="email">
	<f:translate key="tx_nscourses_domain_model_students.email" />
</label><br />
	<f:form.textfield type="email" property="email" id="email" /><br />
<label for="number">Number</label>
	<f:translate key="tx_nscourses_domain_model_students.number" />
</label><br />
	<f:form.textfield type="number" property="number" id="number" /><br />
</html>